#sporting{
    width: auto;
    height: 200px;
    border-radius: 30px;
}
#mancher{
    height: 200px;
width: auto;
    border-radius: 30px;
}
#real{
    width: auto;
    height: 200px;
    border-radius: 30px;
}
#juventus{
    width: auto;
    height: 200px;
    border-radius: 30px;
}
#regreso{
    width: auto;
    height: 200px;
    border-radius: 30px;
}
#nassrr{
    width: auto;
    height: 200px;
    border-radius: 30px;
}
#cr7{
    background-color: rgb(140, 194, 209);

}